<section class="blog-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="content-area">
            <div class="row">
                <% if (data.articles.length > 0) { %>
                <% data.articles.forEach(function(article, index) { %>
                <div class="col-md-6">
                    <article class="post-item-grid">
                        <div class="post-media post-image">
                            <a href="#"><img src="images/post/post2.jpg" alt="img"></a>
                        </div>
                        <div class="post-inwrap">
                            <div class="entry-header">
                                <h2 class="entry-title">
                                    <a href="#"><%= article.title %></a>
                                </h2>
                            </div>
                            <div class="post-meta">
                                <span class="post-cat">
                                    <i class="fa fa-folder"></i>
                                    <a href="#"><%= article.category.title %></a>
                                </span>
                                <span class="post-date">
                                    <i class="fa fa-clock-o"></i> <%= article.created_at %>
                                </span>
                                <span class="post-comment">
                                    <i class="fa fa-comments"></i>
                                    <a href="#" class="comments-link"><span>03</span></a>
                                </span>
                            </div><!-- Post meta end -->
                        </div><!-- post wrap end -->

                        <div class="entry-content">
                            <p><%= article.short_description %></p>
                        </div>

                        <div class="post-bottom clearfix">
                            <a href="#" class="pull-left title-font more-link">Share On</a>
                            <div class="share-items pull-right">
                                <ul class="social-icons unstyled">
                                    <li>
                                        <a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article><!--/ article end -->
                </div><!-- Post grid col end -->
                <% }) %>
                <% } %>

            </div><!-- Content area row end -->
          </div><!--/ Content end -->
        </div><!--/ Content col end -->

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="sidebar sidebar-right">

            <div class="widget widget-search">
              <form id="searchform" action="#">
                <div class="search">
                  <input class="search-field form-control" placeholder="Search" type="search">
                  <i class="fa fa-search"></i>
                </div>
              </form>
            </div><!-- Search end -->

            <div class="widget">
              <h3 class="widget-title">About Me</h3>
              <div class="about-me-widget text-center">
                <div class="about-img border-overlay">
                  <img src="images/author-img.jpg" alt="" />
                </div>
                
                <h4>Andrew Corns</h4>
                <p class="about-desc">Lenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehenderit in volu ptate velit esse cillum dolore</p>

                <div class="share-items">
                  <ul class="social-icons unstyled">
                    <li><a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a></li>
                    <li><a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a></li>
                    <li><a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a></li>
                    <li><a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>

              </div>
            </div><!-- About me widget end -->
            <% if (data.categories.length > 0) { %>
            <div class="widget widget-categories">
              <h3 class="widget-title"><span>Categories</span></h3>
              <ul class="category-list title-font text-center clearfix">
                <% data.categories.forEach(function (category, index) { %>
                <li><a href="#"><%= category.title %></a><span class="posts-count"> (37)</span></li>
                <% }) %>
              </ul>
            </div><!--/ Widget categories end -->
          <% } %>
          <% if (data.tags.length > 0) { %>
            <div class="widget widget-tags">
              <h3 class="widget-title">Tags</h3>
              <ul class="unstyled clearfix">
                <% data.tags.forEach(function (tag, index) { %>
                <li><a href="#"><%= tag.name %></a></li>
                <% }) %>
              </ul>
            </div><!--/ Widget tags end -->
            <% } %>
          </div><!--/ Sidebar end -->
        </div><!--/ Sidebar col end -->
      </div><!--/ Blog row end -->
    </div><!--/ Blog container end -->
   </section><!--/ Blog end -->