<!DOCTYPE html>
<html>

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= typeof title == 'undefined' ? 'Blog' : title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <!-- Styles -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/perfect-scrollbar.min.css">
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <link rel="stylesheet" href="css/color.css" type="text/css" />
  <link rel="stylesheet" href="css/responsive.css" type="text/css" />

</head>

<body>

<div class="theme-layout">

  <!-- Begin Header -->
  <%- partial('./partials/header.ejs') %>
  <!-- / End Header -->

  <!-- Begin responsive header -->
  <%- partial('./partials/responsive-header.ejs') %>
  <!-- End responsive header -->

  <section>
    <div class="gap nogap">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="news-bar"> <span class="news-title">Breaking News</span>
              <ul class="news-caro">
                <li><a href="single.html" title="">A Eleven Celebrity Mother-Daughters Who Look Exactly Alike Albucius intellegam scripserit. The best energy given by Milk..</a></li>
                <li><a href="single.html" title="">A Eleven Celebrity Mother-Daughters Who Look Exactly Alike Albucius intellegam scripserit. The best energy given by Milk..</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--News carousel-->

  <!-- Begin top Featured posts -->
  <%- partial('./partials/featured.ejs') %>
  <!-- End top Featured posts -->

  <%- body %>

  <!-- Begin footer -->
  <%- partial('./partials/footer.ejs') %>
  <!-- End footer -->

  <div class="bottom-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright">
            <h5>All right reserved by <span>WPKixx</span> &copy; 2017</h5>
          </div>
        </div>
      </div>
    </div>
  </div><!-- bottombar -->

</div><!-- Theme Layout -->

<!-- Scripts -->

<script type="text/javascript" src="js/jquery.js"></script><!-- Jquery -->
<script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script><!-- Carousal -->
<script type="text/javascript" src="js/jquery.scrolly.js"></script>
<script type="text/javascript" src="js/html5lightbox.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.jquery.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.js"></script>
<script type="text/javascript" src="js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="js/clock.js"></script><!-- Current time show on topbar plugin -->
<script src="js/script.js"></script>
</body>

</html>
