<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
   <title><%=typeof title == 'undefined' ? 'Blog' : title%></title>


	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.html">
	
	<!-- CSS
	================================================== -->
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Template styles-->
	<link rel="stylesheet" href="css/style.css">
	<!-- Responsive styles-->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- FontAwesome -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- Animation -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Unite gallery -->
	<link rel="stylesheet" href="css/unite-gallery.css">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
	
<body>

	<div class="body-inner">
	
	<!-- Begin Topbar -->
	<%- partial('./partials/top_bar.ejs') %>
	<!--/ Topbar end -->

	<!-- Header start -->
	<%- partial('./partials/header.ejs') %>
	<!--/ Header end -->
	
	<!-- Navigation start -->
	<%- partial('./partials/navigation.ejs') %>
	<!--/ Navigation end -->

	<!-- Carousel -->
	<%- partial('./partials/carousel.ejs') %>
	<!--/ Carousel end -->  
	
	<!-- Begin Trending -->
	<%- partial('./partials/trending.ejs') %>
	<!--/ Trending end -->

   <!-- Begin Blog -->
   	<%- partial('./partials/blog_content.ejs') %>
   <!--/ Blog end -->

	<!-- Begin Featured carousel -->
   	<%- partial('./partials/featured.ejs') %>
	<!--/ Featured carousel end -->
	
	<!-- Begin Instagram -->
	<%- partial('./partials/no_padding.ejs') %>
	<!-- Instagram end -->
	
	<!-- Begin Footer -->
	<%- partial('./partials/footer.ejs') %>
	<!-- Footer end -->
	
	<!-- Javascript Files
	================================================== -->

	<!-- initialize jQuery Library -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<!-- Bootstrap jQuery -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- Owl Carousel -->
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<!-- Unite Gallery -->
	<script type="text/javascript" src="js/unitegallery.min.js"></script>
	<script type="text/javascript" src="js/ug-theme-tiles.js"></script>
	<!-- Template custom -->
	<script type="text/javascript" src="js/custom.js"></script>
	
	</div>
	<!-- Body inner end -->
</body>
</html>